---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vecsernyés András">
  <header></header>
  <main>
    <section></section>
    <section></section>
  </main>
  <footer></footer>
</Layout>
