---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vecsernyés András">
  <nav
    class="flex flex-col lg:flex-row items-center absolute gap-1 lg:gap-4 lg:top-0 lg:left-0 w-full bg-black lg:bg-transparent md:bg-transparent md:opacity-100 opacity-0 top-[-400px] transition-all duration-500 text-white pt-12 lg:pt-0 lg:px-12 text-2xl font-poppins"
  >
    <img src="logo.png" alt="icon" class="hidden md:hidden lg:block h-36" />
    <a
      href="#rolam"
      class="hover:text-gray transition-all duration-300 p-2 lg:p-0">Rólam</a
    >
    <a
      href="#kepessegek"
      class="hover:text-gray transition-all duration-300 p-2 lg:p-0"
      >Képességek</a
    >
    <a
      href="#tapasztalat"
      class="hover:text-gray transition-all duration-300 p-2 lg:p-0"
      >Tapasztalat</a
    >
    <a
      href="#portfolio"
      class="hover:text-gray transition-all duration-300 p-2 lg:p-0"
      >Portfólió</a
    >
    <a
      href="#kapcsolat"
      class="hover:text-gray transition-all duration-300 p-2 lg:p-0"
      >Kapcsolat</a
    >
  </nav>
  <header
    class="h-max lg:h-screen lg:bg-[url('/me.webp')] bg-black bg-cover flex flex-col lg:justify-center text-white m-0 lg:text-2xl font-poppins"
  >
    <div class="grid p-8 lg:p-24">
      <Icon
        name="menu-outline"
        class="h-8 md:hidden block cursor-pointer justify-self-end"
        data-component="menu"
      />
      <div
        class="flex flex-col gap-6 items-center lg:items-start text-center lg:text-left mt-10 lg:mt-0"
      >
        <div class="rounded block lg:hidden select-none">
          <img src="profile.webp" alt="profile picture" class="h-48" />
        </div>
        <h1 class="text-4xl lg:text-8xl lg:w-1/2 leading-tight font-semibold">
          Vecsernyés<br /><span class="text-elegant">András</span>
        </h1>
        <p class="text-gray text-xl lg:text-2xl w-1/2">
          Szenvedélyeim a webfejlesztés az extrém sportok és a testépités.
        </p>
        <div class="flex flex-row gap-6 text-gray">
          <a href="https://www.facebook.com/andras.vecsernyes/" target="_blank"
            ><Icon
              name="baseline-facebook"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
              onclick="topFunction()"
            /></a
          >
          <a href="https://www.instagram.com/vecsernyes.andras/" target="_blank"
            ><Icon
              name="instagram"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
            /></a
          >
          <a
            href="mailto:vecsernyesan2002@gmail.com"
            launch-external="true"
            target="_blank"
            ><Icon
              name="baseline-email"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
            /></a
          >
        </div>
      </div>
      <div class="flex flex-col items-end p-8">
        <a href=""><Icon name="up-c" id="up" class="h-10 fixed" /></a>
      </div>
    </div>
  </header>
  <main class="bg-elegantGray">
    <section class="p-4 h-auto">
      <div
        class="flex flex-col items-center justify-center text-center reveal"
        id="rolam"
      >
        <h1 class="absolute text-5xl lg:text-8xl text-gray opacity-20">
          Rólam
        </h1>
        <h1 class="text-4xl lg:text-6xl text-white">Rólam</h1>
      </div>
      <div
        class="flex flex-col mt-16 text-white text-center lg:text-left items-center"
      >
        <p class="text-justify p-4 w-full lg:w-1/2 reveal">
          Sziasztok, Vecsernyés András vagyok! Egy lelkes és kreatív egyéniség
          vagyok, aki mindig nyitott az új kihívásokra és tapasztalatokra. Az
          emberekkel való kapcsolatépítés és az új barátok szerzése fontos
          számomra, mert hiszem, hogy az emberek sokat tanulhatnak egymástól.
          Bízom benne, hogy a jövőben még sok érdekes dolog vár rám, és nagyon
          várom, hogy megosszam tapasztalataimat és gondolataimat másokkal.
        </p>
        <h1 class="text-2xl lg:text-4xl mt-16 reveal">Személyes adatok</h1>
        <div class="flex flex-row mt-8 gap-1 lg:gap-16 text-sm lg:text-lg reveal">
          <table>
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">Keresztnév:</td>
              <td>András</td>
            </tr>
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">Születési idő:</td>
              <td>2002.01.27</td>
            </tr>
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">Telefon:</td>
              <td> +36 20 960 7403</td>
            </tr>
          </table>
          <table class="">
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">Vezetéknév:</td>
              <td>Vecsernyés</td>
            </tr>
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">Nemzetiség:</td>
              <td>Magyar</td>
            </tr>
            <tr class="leading-normal lg:leading-loose">
              <td class="text-gray">E-mail:</td>
              <td class="">vecsernyesan2002<br />@gmail.com</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="p-8 mt-20 h-screen" id="kepessegek">
      <div class="flex flex-col items-center justify-center text-center reveal">
        <h1 class="absolute text-5xl lg:text-8xl text-gray opacity-20">
          Képességek
        </h1>
        <h1 class="text-4xl lg:text-6xl text-white">Képességek</h1>
      </div>
      <div class="text-white">
        <div class="flex flex-col items-center mt-20 reveal">
          <h1 class="text-5xl">Frontend</h1>
        </div>
        <div
          class="grid grid-cols-2 lg:grid-cols-4 gap-8 text-white p-8 justify-items-center reveal"
        >
          <div class="text-center rounded-full">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">REACT</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">ASTRO</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">Tailwind CSS</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">Bootstrap</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center reveal">
          <h1 class="text-5xl">Databases</h1>
        </div>
        <div
          class="grid grid-cols-2 lg:grid-cols-2 gap-8 text-white p-8 justify-items-center reveal"
        >
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-md lg:text-2xl">Mysql</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">MongoDB</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center reveal">
          <h1 class="text-5xl">Miscelanius</h1>
        </div>
        <div
          class="grid grid-cols-2 lg:grid-cols-3 gap-8 text-white p-8 justify-items-center reveal"
        >
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">Github</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">Figma</p>
              </div>
            </div>
          </div>
          <div class="flex text-center">
            <div
              class="rounded-full bg-red w-24 md:w-32 lg:w-40 h-24 md:h-32 lg:h-40 p-4"
            >
              <div
                class="flex absolute bg-black h-16 md:h-24 lg:h-32 w-16 md:w-24 lg:w-32 rounded-full text-center items-center justify-center"
              >
                <p class="text-sm md:text-lg lg:text-2xl">Trello</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-8 mt-80 lg:mt-96 h-screen" id="tapasztalat">
      <div class="flex flex-col items-center justify-center text-center reveal">
        <h1 class="absolute text-5xl lg:text-8xl text-gray opacity-20">
          Tanulmányok és tapasztalat
        </h1>
        <h1 class="text-4xl lg:text-6xl text-white">
          Tanulmányok és tapasztalat
        </h1>
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 gap-16 mt-24 p-8 justify-items-start"
      >
        <div class="flex flex-col text-white reveal">
          <div class="flex flex-row gap-4 items-center">
            <Icon name="circle-filled" class="h-12 md:h-20" />
            <div class="bg-darkGray rounded-lg h-fit">
              <p class="text-sm md:text-xl p-1">2023-jelen</p>
            </div>
          </div>
          <p class="font-bold text-2xl">Szabadúszó</p>
          <p class="text-xs md:text-lg text-gray w-10/12">
            Szabadúszóként dolgozom, keresem a kihivást jelentő projekteket a
            fejlődés érdekében.
          </p>
        </div>
        <div class="flex flex-col text-white reveal">
          <div class="flex flex-row gap-4 items-center">
            <Icon name="circle-filled" class="h-12 md:h-20" />
            <div class="bg-darkGray rounded-lg h-fit">
              <p class="text-sm md:text-xl p-1">2021-2023</p>
            </div>
          </div>
          <p class="font-bold text-2xl">
            Szoftverfejlesztő és tesztelő felnőttképzés
          </p>
          <p class="text-xs md:text-lg text-gray w-10/12">
            Elvégeztem a Szily Kálmán Szakgmináziumában 2 év alatt a
            szoftverfejlesztő szakot.
          </p>
        </div>
        <div class="flex flex-col text-white reveal">
          <div class="flex flex-row gap-4 items-center">
            <Icon name="circle-filled" class="h-12 md:h-20" />
            <div class="bg-darkGray rounded-lg h-fit">
              <p class="text-sm md:text-xl p-1">2017-2021</p>
            </div>
          </div>
          <p class="font-bold text-2xl">Rendszerkarbantartó</p>
          <p class="text-xs md:text-lg text-gray w-10/12">
            A Szily Kálmán Szakgimnáziumban megszereztem a rendszerkarbantartó
            szakot és az érettségit.
          </p>
        </div>
      </div>
    </section>
    <section class="p-8 h-screen mt-40 lg:mt-0" id="portfolio">
      <div class="flex flex-col items-center justify-center text-center reveal">
        <h1 class="absolute text-5xl lg:text-8xl text-gray opacity-20">
          Portfolió
        </h1>
        <h1 class="text-4xl lg:text-6xl text-white">Portfolió</h1>
      </div>
      <div
        class="flex flex-col lg:flex-row mt-24 items-center gap-16 justify-center reveal"
      >
        <a href="https://elektrotok.hu/" class="" target="_blank"
          ><img
            src="elektrotok_mobile.webp"
            alt="elektrotokMobile"
            class="h-52 lg:h-72 w-72 lg:w-96"
          /></a
        >
        <a
          href="https://github.com/vecsandris/evVegiProjekt.git"
          target="_blank"
          ><img
            src="ytravel.webp"
            alt="elektrotokMobile"
            class="h-52 lg:h-72 w-72 lg:w-96"
          /></a
        >
      </div>
    </section>
  </main>
  <footer class="bg-elegantGray p-8 h-fit" id="kapcsolat">
    <div class="flex flex-col items-center justify-center text-center reveal">
      <h1 class="absolute text-5xl lg:text-8xl text-gray opacity-20">
        Kapcsolat
      </h1>
      <h1 class="text-4xl lg:text-6xl text-white">Kapcsolat</h1>
    </div>
    <div
      class="flex flex-col lg:flex-row text-center lg:text-left text-white p-4 lg:p-16 mt-20"
    >
      <div class="flex flex-col items-center lg:items-start gap-4">
        <h1 class="text-3xl reveal">Ne félj megkeresni!</h1>
        <p class="text-gray w-full lg:w-1/2 reveal">
          Nyitott vagyok bármilyen projektre, nem riasztanak el a kreativ
          ötletek, illetve hogy részese legyek egy új helyzetnek.
        </p>
        <div class="flex flex-col items-center lg:items-start mt-5 gap-4 reveal">
          <div class="flex flex-row items-center gap-4">
            <Icon name="baseline-email" class="h-6 lg:h-12 w-8 lg:w-6" />
            <p class="text-xl">vecsernyesan2002@gmail.com</p>
          </div>
          <div class="flex flex-row items-center gap-4">
            <Icon name="baseline-phone" class="h-8 lg:h-12 w-8 lg:w-8" />
            <p class="text-xl">+36 20 960 7403</p>
          </div>
        </div>
        <div class="flex flex-row gap-6 text-gray reveal">
          <a href="https://www.facebook.com/andras.vecsernyes/" target="_blank"
            ><Icon
              name="baseline-facebook"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
            /></a
          >
          <a href="https://www.instagram.com/vecsernyes.andras/" target="_blank"
            ><Icon
              name="instagram"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
            /></a
          >
          <a
            href="mailto:vecsernyesan2002@gmail.com"
            launch-external="true"
            target="_blank"
            ><Icon
              name="baseline-email"
              class="h-10 transition-all ease-in duration-300 hover:scale-125"
            /></a
          >
        </div>
      </div>
      <div class="flex flex-col text-white mt-20 lg:mt-0 reveal">
        <form action="" method="post">
          <div class="flex flex-col lg:flex-row gap-4">
            <input
              type="text"
              name="name"
              placeholder="Név"
              class="bg-darkGray rounded-lg p-2 w-full lg:w-64"
            />
            <input
              type="email"
              name="email"
              placeholder="E-mail"
              class="bg-darkGray rounded-lg p-2 w-full lg:w-64"
            />
          </div>
          <div class="mt-5">
            <input
              type="text"
              name="title"
              placeholder="Tárgy"
              class="bg-darkGray rounded-lg p-2 w-full"
            />
          </div>
          <div class="mt-5">
            <textarea
              name="description"
              placeholder="Üzenet"
              class="resize-none bg-darkGray rounded-lg p-2 w-full h-72"
            ></textarea>
          </div>
          <div class="mt-5">
            <button
              type="submit"
              class="transition-all ease-in duration-300 hover:bg-darkRed bg-red p-4 rounded-lg w-full lg:w-52"
              >Küldés</button
            >
          </div>
        </form>
      </div>
    </div>
    <div class="flex flex-col items-center text-white">
      <p class="text-lg">@ 2023 Vecsernyés András</p>
      <p class="text-gray text-sm">Made in Hungary</p>
    </div>
  </footer>

  <script is:inline>
  //menu functions start here
  let isMenuOpen = false;
  function Menu(e) {
    let list = document.querySelector("nav");
    isMenuOpen
      ? ((e.name = "menu-outline"),
        list.classList.remove("top-[80px]"),
        list.classList.remove("opacity-100"))
      : ((e.name = "close"),
        list.classList.add("top-[80px]"),
        list.classList.add("opacity-100"));
    isMenuOpen = !isMenuOpen;
  }
  document
        .querySelector("[data-component='menu']")
      .addEventListener("click", function () {
        Menu(this);
      });
    //scroll functions start here
    let up = document.getElementById("up");
    window.onscroll = function () {
      scrollFunction();
    };
    function scrollFunction() {
      if (
        document.body.scrollTop > 50 ||
        document.documentElement.scrollTop > 50
      ) {
        up.style.display = "block";
      } else {
        up.style.display = "none";
      }
    }
    function topFunction() {
      window.scrollTo(0, 0);
    }
    function reveal(){
      var reveals = document.querySelectorAll(".reveal");

      for(var i = 0; i < reveals.length; i++){
        var windowHeight = window.innerHeight;
        var revealTop = reveals[i].getBoundingClientRect().top;
        var revealPoint = 1;

        if(revealTop < windowHeight - revealPoint){
          reveals[i].classList.add('active');
        }else{
          reveals[i].classList.remove('active');
        }
      }
    }
    window.addEventListener('scroll', reveal);
  </script>
  <style>
    .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
    }
    .reveal.active{
      transform: translateY(0px);
      opacity: 1;
      transition: 1s;
    }
  </style>
</Layout>
